.sidebar{
width:230px;
height:100vh;
background:#ffffff;
border-right:1px solid #e5e7eb;
padding:20px;
}

.logo{
font-size:20px;
font-weight:600;
margin-bottom:30px;
color:#2563EB;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
padding:10px;
margin-bottom:6px;
border-radius:6px;
cursor:pointer;
color:#374151;
}

.menu li:hover{
background:#f3f4f6;
}